.carousel {
    margin-top: 5rem;
    margin-left: 2rem;
    min-height: calc(80vh - 7rem - 10rem);
    
}

.carousel__container:hover .carousel-item{
    opacity: 0.3;
    
    
}
.carousel__container:hover .carousel-item:hover{
    transform: scale(1.5);
    opacity: 1;
}


@media screen and (max-width:320px){
    .carousel__container {
        display: flex;
        overflow-x: scroll;
        overscroll-behavior-x: contain;
        scroll-snap-type:x proximity;
    }
}