.carousel {
    margin-top: 5rem;
    margin-left: 2rem;
    min-height: calc(80vh - 7rem - 10rem);
    
}
.carousel__container{
    display: flex;
    align-items: center;
    overflow-x: scroll;
    min-height: 20rem;
    overscroll-behavior-x: contain;
    scroll-snap-type:x proximity;
}

.carousel__container:hover .carousel-item{
    opacity: 0.3;
    
    
}
.carousel__container:hover .carousel-item:hover{
    transform: scale(1.1);
    opacity: 1;
}


@media screen and (min-width:768px){
    .carousel__container {
        overflow: hidden;
    }
}